@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 17px;
  line-height: 1.3;
  color: #000000;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
.wrapper {
  width: 100%;
  min-width: 320px;
  max-width: 1920px;
  margin: 0 auto;
  overflow: hidden;
}
.wrapper-inner {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  position: relative;
  background: none;
}
.wrapper-inner:after {
  content: '';
  display: block;
  clear: both;
}
a,
button {
  cursor: pointer;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  -webkit-appearance: none;
  text-decoration: none;
}
a:active,
a:focus,
.slide:focus {
  outline: none;
}
button,
button:hover,
button:active {
  outline: none;
  border: none;
}
button::-moz-focus-inner {
  outline: none;
  border: none;
}
input:focus,
textarea:focus {
  outline: none;
}
/**********************************************************************************************************************
********** header
***********************************************************************************************************************/
header[role='banner'] {
  background: url(../images/background-1.jpg) no-repeat center top;
  background-size: cover;
  padding: 0 0 85px 0;
}
@media (max-width: 1170px) {
  header[role='banner'] .wrapper-inner {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (max-width: 768px) {
  header[role='banner'] .wrapper-inner {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (max-width: 480px) {
  header[role='banner'] .wrapper-inner {
    padding-left: 5px;
    padding-right: 5px;
  }
}
header[role='banner'] .header-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 35px 0;
}
@media (max-width: 480px) {
  header[role='banner'] .header-info {
    padding: 15px 10px;
  }
}
header[role='banner'] .logo {
  display: inline-block;
  vertical-align: top;
  width: 184px;
  position: relative;
}
header[role='banner'] .logo:after {
  content: '';
  display: block;
  width: 3px;
  height: 70px;
  background: rgba(255, 255, 255, 0.2);
  position: absolute;
  top: 0;
  right: -20px;
  -webkit-transform: rotate(-40deg);
  -moz-transform: rotate(-40deg);
  -ms-transform: rotate(-40deg);
  -o-transform: rotate(-40deg);
  transform: rotate(-40deg);
}
@media (max-width: 480px) {
  header[role='banner'] .logo {
    width: 160px;
  }
  header[role='banner'] .logo:after {
    display: none;
  }
}
header[role='banner'] h1 {
  display: inline-block;
  vertical-align: top;
  margin: 7px 0 0 25px;
}
header[role='banner'] h1 span {
  display: block;
  color: #fff;
  font-size: .95em;
  font-weight: 100;
}
header[role='banner'] h1 span:nth-of-type(2) {
  padding-left: 20px;
}
header[role='banner'] h1 span:nth-of-type(3) {
  padding-left: 40px;
}
@media (max-width: 480px) {
  header[role='banner'] h1 {
    display: none;
  }
}
header[role='banner'] .header-phone {
  color: #fff;
  font-size: .95em;
  font-weight: 500;
  font-style: italic;
  line-height: 1;
  margin: 10px 0 0 0;
}
header[role='banner'] .header-phone a {
  display: block;
  color: inherit;
  font-style: italic;
  font-size: 1.2em;
  font-weight: 900;
  line-height: 1;
  margin-bottom: 3px;
}
header[role='banner'] .header-hours {
  margin: 7px 0 0 0;
}
header[role='banner'] .header-hours span {
  display: block;
  color: #fff;
  font-size: .95em;
  font-weight: 500;
  font-style: italic;
  line-height: 1.2;
}
header[role='banner'] .sign-block button {
  display: block;
  float: left;
  height: 35px;
  line-height: 1;
  padding: 0 25px;
  font-size: 0.8235294117647059em;
  color: #ffffff;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  margin-top: 10px;
}
header[role='banner'] .sign-block button.sign-in {
  background: #522374;
}
header[role='banner'] .sign-block button.sign-in:hover {
  background: #ffffff;
  color: #522374;
}
header[role='banner'] .sign-block button.sign-up {
  background: #f8a94e;
  margin-left: 25px;
}
header[role='banner'] .sign-block button.sign-up:hover {
  background: #ffffff;
  color: #f8a94e;
}
header[role='banner'] .sign-block button:active {
  padding-top: 5px;
}
header[role='banner'] .burger {
  display: none;
}
@media (max-width: 1170px) {
  header[role='banner'] .burger {
    display: block;
    position: relative;
    z-index: 1001;
  }
  header[role='banner'] .burger .fa {
    font-size: 48px;
    color: #fff;
  }
  header[role='banner'] .burger .fa-close {
    display: none;
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 1001;
  }
}
@media (max-width: 480px) {
  header[role='banner'] .burger {
    top: 15px;
  }
}
header[role='banner'] .burger.active .fa-close {
  display: block;
}
header[role='banner'] .burger.active .fa-bars {
  display: none;
}
@media (max-width: 1179px) {
  header[role='banner'] {
    padding-bottom: 0;
  }
}
nav ul {
  display: flex;
  width: 100%;
  height: 55px;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(to right, #371451, #84206b);
  list-style: none;
  padding: 0 20px;
}
nav ul li a {
  display: block;
  font-weight: 500;
  color: #fff;
}
nav ul li a:hover {
  color: #f8a94e;
}
nav ul li a:active {
  padding-top: 3px;
}
@media (max-width: 1170px) {
  nav {
    display: block;
    position: fixed;
    z-index: 1000;
    top: -100vh;
    left: 0;
    right: 0;
    height: 100vh;
    overflow: auto;
    background: linear-gradient(to right, #371451, #84206b);
    -webkit-transition: .6s;
    -moz-transition: .6s;
    -ms-transition: .6s;
    -o-transition: .6s;
    transition: .6s;
  }
  nav.active {
    top: 0;
  }
  nav ul {
    display: block;
    margin: 75px 0 25px;
    text-align: center;
    height: auto;
  }
  nav ul li {
    display: block;
    margin: 10px 0;
  }
  nav .header-hours,
  nav .header-phone {
    display: block;
    margin: 20px 0!important;
    text-align: center;
  }
  nav .sign-block {
    text-align: center;
  }
  nav .sign-block button {
    display: inline-block !important;
    float: none!important;
  }
}
/**********************************************************************************************************************
********** section
***********************************************************************************************************************/
section {
  display: block;
  width: 100%;
}
section .wrapper-inner {
  padding: 85px 0 110px;
}
@media (max-width: 1170px) {
  section .wrapper-inner {
    padding: 85px 15px 110px;
  }
}
@media (max-width: 768px) {
  section .wrapper-inner {
    padding: 45px 15px 55px;
  }
}
@media (max-width: 480px) {
  section .wrapper-inner {
    padding: 30px 10px 45px;
  }
}
section h2 {
  font-style: italic;
  color: #fff;
  font-weight: 900;
  font-size: 3em;
  text-transform: uppercase;
  line-height: 1;
  margin: 0 0 60px 0;
}
@media (max-width: 768px) {
  section h2 {
    font-size: 2em;
    line-height: 1.2;
    text-align: left!important;
    margin: 0;
  }
}
@media (max-width: 480px) {
  section h2 {
    font-size: 1.5em;
  }
}
section ul {
  display: block;
  width: 100%;
  max-width: 600px;
  margin: 0 0 70px 0;
  float: left;
}
section ul li {
  display: block;
  padding: 0 0 0 70px;
  position: relative;
  font-weight: 300;
  color: #fff;
  margin: 20px 0 0;
}
section ul li span {
  font-weight: 400;
  color: #fff;
}
section ul li:first-child {
  margin: 0;
}
section ul li:after {
  content: '';
  display: block;
  width: 12px;
  height: 12px;
  background: rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.39);
  -moz-box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.39);
  box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.39);
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  position: absolute;
  left: 25px;
  top: 5px;
}
@media (max-width: 768px) {
  section ul li:after {
    left: 0;
  }
}
@media (max-width: 768px) {
  section ul li {
    padding: 0 0 0 40px;
  }
}
@media (max-width: 768px) {
  section ul {
    margin: 30px 0!important;
  }
}
section .image-wrap {
  display: block;
  width: 448px;
  float: right;
  position: relative;
}
section .image-wrap:after {
  content: '';
  display: block;
  width: 347px;
  height: 236px;
  background: url(../images/video-decor.png) no-repeat 0 0;
  position: absolute;
  bottom: -20px;
  right: -20px;
  z-index: 1;
}
@media (max-width: 1280px) {
  section .image-wrap:after {
    display: none;
  }
}
section .image-wrap img {
  display: block;
  width: 100%;
  height: auto;
}
section .image-wrap .marker {
  display: block;
  width: 230px;
  height: 50px;
  line-height: 48px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  background: #f8a94e;
  -webkit-border-radius: 25%;
  -moz-border-radius: 25%;
  border-radius: 3em;
  -webkit-box-shadow: inset 0 -3px 0 0 #c17b2a;
  -moz-box-shadow: inset 0 -3px 0 0 #c17b2a;
  box-shadow: inset 0 -3px 0 0 #c17b2a;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
}
section .image-wrap .marker:hover {
  background: #ffffff;
  color: #f8a94e;
}
section .image-wrap .marker:active {
  -webkit-box-shadow: inset 0 -6px 0 0 #c17b2a;
  -moz-box-shadow: inset 0 -6px 0 0 #c17b2a;
  box-shadow: inset 0 -6px 0 0 #c17b2a;
}
@media (max-width: 768px) {
  section .image-wrap {
    width: 100%;
  }
}
section blockquote {
  display: block;
  float: left;
  width: 100%;
  max-width: 670px;
  padding: 35px 50px;
  color: #fff;
  font-style: italic;
  font-weight: 100;
  background: rgba(36, 11, 38, 0.55);
  font-size: 1.25em;
}
@media (max-width: 480px) {
  section blockquote {
    font-size: 1.05em;
    padding: 20px;
  }
}
@media (max-width: 1170px) {
  section h2 {
    text-align: center;
  }
  section .image-wrap,
  section ul,
  section blockquote {
    float: none!important;
    margin: 50px auto!important;
  }
  section blockquote {
    max-width: 600px!important;
  }
}
.right-side .image-wrap {
  float: left;
}
.right-side ul {
  float: right;
  margin: 0 100px 45px 0;
}
.right-side blockquote {
  margin: 0 0 0 45px;
}
/**********************************************************************************************************************
********** about-china
***********************************************************************************************************************/
.about-china {
  background: url(../images/background-2.jpg) no-repeat center top;
  background-size: cover;
}
/**********************************************************************************************************************
********** about-progress
***********************************************************************************************************************/
.about-progress {
  background: url(../images/background-3-decor.png) no-repeat right 60px, url(../images/background-3.jpg) no-repeat center top;
  background-size: auto, cover;
}
.about-progress h2 {
  text-align: left;
  max-width: 800px;
}
.about-progress ul li:nth-child(2n) {
  max-width: 400px;
}
.about-progress ul li:nth-child(3n) {
  max-width: 500px;
}
.about-progress ul li:nth-child(4n) {
  max-width: 530px;
}
.about-progress blockquote {
  max-width: 600px;
  margin: 0 0 0 490px;
  background: rgba(18, 38, 96, 0.42);
}
@media (max-width: 1900px) {
  .about-progress {
    background: url(../images/background-3.jpg) no-repeat center top;
    background-size: cover;
  }
}
@media (max-width: 480px) {
  .about-progress {
    background: url(../images/background-3-decor.png) no-repeat 300% 50px, url(../images/background-3.jpg) no-repeat center top;
    background-size: 80%, cover;
  }
}
/**********************************************************************************************************************
********** global-china
***********************************************************************************************************************/
.global-china {
  background: url(../images/background-4.jpg) no-repeat center top;
  background-size: cover;
}
.global-china h2 span {
  display: block;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  text-transform: none;
}
.global-china blockquote {
  background: rgba(25, 17, 54, 0.65);
}
/**********************************************************************************************************************
********** high-education
***********************************************************************************************************************/
.high-education {
  background: url(../images/background-5.jpg) no-repeat center top;
  background-size: cover;
}
.high-education blockquote {
  background: rgba(33, 7, 35, 0.48);
}
/**********************************************************************************************************************
********** new-emotions
***********************************************************************************************************************/
.new-emotions {
  background: url(../images/background-6.jpg) no-repeat center top;
  background-size: cover;
}
.new-emotions ul {
  margin: 0 0 50px 0;
}
/**********************************************************************************************************************
********** connection
***********************************************************************************************************************/
.connection {
  background: url(../images/background-7.jpg) no-repeat center top;
  background-size: cover;
}
.connection blockquote {
  max-width: 675px;
}
/**********************************************************************************************************************
********** whu-ccn
***********************************************************************************************************************/
.whu-ccn {
  background: url(../images/background-8.jpg) no-repeat center top;
  background-size: cover;
  padding: 60px 0;
}
.whu-ccn a {
  display: block;
  width: 375px;
  height: 90px;
  line-height: 88px;
  font-weight: 900;
  font-size: 1.9em;
  color: #ffffff;
  text-transform: uppercase;
  font-style: italic;
  text-align: center;
  -webkit-border-radius: 25%;
  -moz-border-radius: 25%;
  border-radius: 3em;
  margin: 0 auto;
  background: #ef1013;
  -webkit-box-shadow: inset 0 -4px 0 0 #a60909;
  -moz-box-shadow: inset 0 -4px 0 0 #a60909;
  box-shadow: inset 0 -4px 0 0 #a60909;
}
.whu-ccn a:hover {
  color: #ffffff;
  background: rgba(166, 9, 9, 0.9);
}
.whu-ccn a:active {
  background: #a60909;
}
@media (max-width: 480px) {
  .whu-ccn a {
    width: 295px;
    height: 75px;
    line-height: 73px;
    font-size: 1.4em;
  }
}
/**********************************************************************************************************************
********** footer
***********************************************************************************************************************/
footer[role='contentinfo'] {
  background: #171229;
}
footer[role='contentinfo'] .wrapper-inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 60px 15px;
}
footer[role='contentinfo'] .wrapper-inner:after {
  display: none;
}
footer[role='contentinfo'] .footer-info {
  display: block;
  width: 100%;
  max-width: 300px;
}
footer[role='contentinfo'] .footer-info:first-of-type span:first-of-type {
  margin: 0 0 15px 0;
}
footer[role='contentinfo'] .footer-info:last-of-type span {
  margin: 0 0 10px 0;
}
footer[role='contentinfo'] .footer-info span {
  display: block;
  color: #695774;
  font-size: .95em;
}
footer[role='contentinfo'] .footer-info span a {
  color: inherit;
  font-size: inherit;
}
footer[role='contentinfo'] .footer-info span a:hover {
  color: #f8a94e;
}
footer[role='contentinfo'] .footer-info > a {
  display: block;
  font-size: .95em;
  text-decoration: underline;
  color: #f8a94e;
}
footer[role='contentinfo'] .footer-info > a.phone {
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  font-size: 1.5em;
  margin: 10px 0;
}
footer[role='contentinfo'] .footer-info > a.phone:hover {
  text-decoration: underline;
}
footer[role='contentinfo'] .footer-info > a:hover {
  text-decoration: none;
}
footer[role='contentinfo'] .social-links {
  margin: 40px 0 0 0;
}
footer[role='contentinfo'] .social-links li {
  display: inline-block;
  margin-right: 20px;
}
footer[role='contentinfo'] .social-links li a {
  display: block;
  width: 50px;
  height: 50px;
  color: #ffffff;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  text-align: center;
}
footer[role='contentinfo'] .social-links li a i {
  color: inherit;
  font-size: 28px;
  line-height: 50px;
}
footer[role='contentinfo'] .social-links li a:active {
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
}
footer[role='contentinfo'] .social-links li:nth-child(1) a {
  background: #6c97b9;
}
footer[role='contentinfo'] .social-links li:nth-child(2) a {
  background: #3969a5;
}
footer[role='contentinfo'] .social-links li:nth-child(3) a {
  background: #3c608d;
}
footer[role='contentinfo'] .social-links li:nth-child(4) a {
  background: #d53737;
}
footer[role='contentinfo'] .social-links li:nth-child(5) a {
  background: #1ab6f2;
}
footer[role='contentinfo'] .social-links li:nth-child(6) a {
  background: #ff7c20;
}
footer[role='contentinfo'] .social-links li:nth-child(1) a:hover {
  background: #ffffff;
  color: #6c97b9;
}
footer[role='contentinfo'] .social-links li:nth-child(2) a:hover {
  background: #ffffff;
  color: #3969a5;
}
footer[role='contentinfo'] .social-links li:nth-child(3) a:hover {
  background: #ffffff;
  color: #3c608d;
}
footer[role='contentinfo'] .social-links li:nth-child(4) a:hover {
  background: #ffffff;
  color: #d53737;
}
footer[role='contentinfo'] .social-links li:nth-child(5) a:hover {
  background: #ffffff;
  color: #1ab6f2;
}
footer[role='contentinfo'] .social-links li:nth-child(6) a:hover {
  background: #ffffff;
  color: #ff7c20;
}
footer[role='contentinfo'] .social-links li:last-child {
  margin-right: 0;
}
@media (max-width: 768px) {
  footer[role='contentinfo'] .wrapper-inner {
    padding: 100px  0 0 0;
  }
  footer[role='contentinfo'] .footer-info {
    max-width: 100%;
    background: #0e0713;
    padding: 25px 15px;
  }
  footer[role='contentinfo'] .footer-info:last-of-type {
    background: #09050c;
  }
  footer[role='contentinfo'] .social-links {
    margin: 0;
    padding: 25px 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    text-align: center;
    background: #190d21;
  }
}
@media (max-width: 480px) {
  footer[role='contentinfo'] .social-links li {
    margin-right: 10px;
  }
  footer[role='contentinfo'] .social-links li a {
    width: 35px;
    height: 35px;
  }
  footer[role='contentinfo'] .social-links li a i {
    font-size: 20px;
    line-height: 35px;
  }
}
/**********************************************************************************************************************
********** inner-page
***********************************************************************************************************************/
main {
  display: block;
  width: 100%;
}
main .wrapper-inner {
  padding: 0 15px 50px;
}
main .message {
  display: block;
  width: 100%;
  padding: 15px 40px;
  color: #fff;
  font-weight: 700;
  margin: 25px 0;
}
main .message.message-note {
  background: #e6b47f;
}
main .message.message-error {
  background: #d54a4a;
}
main .message.message-info {
  background: #aabbf3;
}
main .message.message-success {
  background: #9bbd6a;
}
main h1,
main h2,
main h3 {
  font-style: italic;
  font-weight: 900;
  line-height: 1.1;
}
main h1 {
  font-size: 3.5em;
  color: #662c90;
  margin: 40px 0 20px;
}
main h2 {
  color: #f8a94e;
  font-size: 3em;
  margin: 20px 0 15px;
}
main h3 {
  color: #4a4141;
  font-size: 2.35em;
  margin: 15px 0;
}
main h4 {
  font-style: italic;
  font-weight: 300;
  font-size: 1.75em;
  color: #662c90;
  margin: 15px 0;
}
main h5 {
  font-weight: 700;
  margin: 25px 0 15px;
}
main ul {
  display: block;
  width: 100%;
  max-width: 600px;
  margin: 0 0 50px;
}
main ul li {
  display: block;
  position: relative;
  margin: 15px 0;
  padding: 0 0 0 70px;
}
main ul li:before {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  background: #f8a94e;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  position: absolute;
  left: 40px;
  top: 6px;
}
main img {
  display: block;
  width: 100%;
  max-width: 370px;
  float: right;
  margin: 0 0 30px 30px;
}
main p {
  font-weight: 300;
  margin: 0 0 15px 0;
}
@media (max-width: 768px) {
  main h1 {
    font-size: 3em;
    margin: 35px 0 15px;
  }
  main h2 {
    font-size: 2.5em;
    margin: 15px 0;
  }
  main h3 {
    font-size: 2em;
  }
  main h4 {
    font-size: 1.5em;
  }
  main img {
    float: none;
    margin: 20px 0;
  }
}
@media (max-width: 480px) {
  main h1 {
    font-size: 2.3em;
    margin: 35px 0 15px;
  }
  main h2 {
    font-size: 1.8em;
    margin: 15px 0;
  }
  main h3 {
    font-size: 1.5em;
  }
  main h4 {
    font-size: 1.2em;
  }
  main ul {
    margin: 0 0 30px;
  }
  main ul li {
    padding: 0 0 0 20px;
  }
  main ul li:before {
    left: 0;
  }
}
/**********************************************************************************************************************
********** universities
***********************************************************************************************************************/
.universities-page {
  background: #f8f8fd;
}
.universities-page h1 {
  text-transform: uppercase;
  margin: 60px 0 40px;
}
@media (max-width: 480px) {
  .universities-page h1 {
    font-size: 30px;
    margin: 40px 0 30px;
  }
}
.form-chooser:after {
  content: '';
  display: block;
  clear: both;
}
.form-chooser .custom-select {
  display: block;
  width: 31.5%;
  height: 56px;
  margin: 2.75% 2.75% 2.75% 0;
  float: left;
  position: relative;
  padding: 0 55px 0 0;
  border: 1px solid #e9e9ef;
  cursor: pointer;
}
.form-chooser .custom-select:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-top: 10px solid #8a8a94;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 18px;
}
.form-chooser .custom-select.active:after {
  border-bottom: 10px solid #8a8a94;
  border-top: none;
}
.form-chooser .custom-select:nth-of-type(3n) {
  margin: 2.75% 0 2.75% 0;
}
@media (max-width: 980px) {
  .form-chooser .custom-select {
    width: 48%;
    margin: 25px 4% 25px 0;
  }
  .form-chooser .custom-select:nth-of-type(3n) {
    margin: 25px 4% 25px 0;
  }
  .form-chooser .custom-select:nth-of-type(2n) {
    margin: 25px 0 25px 0;
  }
}
@media (max-width: 768px) {
  .form-chooser .custom-select {
    float: none;
    width: 100%;
    margin: 50px 0 0;
  }
  .form-chooser .custom-select:nth-of-type(2n),
  .form-chooser .custom-select:nth-of-type(3n) {
    float: none;
    width: 100%;
    margin: 50px 0 0;
  }
}
.form-chooser .custom-select .select-label {
  font-size: 17px;
  color: #493e52;
  font-weight: 700;
  margin-bottom: 10px;
  position: absolute;
  left: 0;
  top: -35px;
}
@media (max-width: 768px) {
  .form-chooser .custom-select .select-label {
    top: -30px;
  }
}
.form-chooser .custom-select .current-value {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 54px;
  font-weight: 300;
  color: #493e52;
  background: #fff;
  padding: 0 25px;
}
.form-chooser .custom-select ul {
  display: none;
  width: calc(100% + 2px);
  position: absolute;
  left: -1px;
  top: 100%;
  background: #fff;
  border: 1px solid #e9e9ef;
  border-top: none;
  z-index: 1;
}
.form-chooser .custom-select.active ul {
  display: block;
}
.form-chooser .custom-select li {
  font-weight: 300;
  color: #493e52;
  padding: 0 25px;
}
.form-chooser .custom-select li:before {
  display: none;
}
.form-chooser .custom-select li:hover {
  color: #f8a94e;
}
.form-chooser .custom-select input {
  display: none;
}
.form-chooser input[type='checkbox'] {
  display: none;
}
.form-chooser input[type='checkbox'] + label {
  display: block;
  width: 31.5%;
  height: 56px;
  line-height: 60px;
  margin: 2.75% 2.75% 2.75% 0;
  float: left;
  font-weight: 700;
  font-size: 17px;
  color: #493e52;
  cursor: pointer;
}
@media (max-width: 980px) {
  .form-chooser input[type='checkbox'] + label {
    width: 48%;
    margin: 25px 4% 25px 0;
  }
}
@media (max-width: 768px) {
  .form-chooser input[type='checkbox'] + label {
    float: none;
    width: 100%;
    text-align: center;
    margin: 15px 25px 15px 0;
  }
}
.form-chooser input[type='checkbox'] + label:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 32px;
  height: 32px;
  border: 1px solid #e9e9ef;
  background: #fff;
  margin-right: 20px;
  text-align: center;
}
.form-chooser input[type='checkbox']:checked + label:before {
  content: 'X';
  line-height: 32px;
}
.form-chooser button[type='submit'] {
  display: block;
  width: 185px;
  height: 56px;
  line-height: 54px;
  margin: 2.75% 0;
  float: left;
  font-weight: 700;
  font-size: 18px;
  color: #f8a94e;
  border: 1px solid #f8a94e;
  border-radius: 30px;
  background: #fff;
  cursor: pointer;
}
@media (max-width: 980px) {
  .form-chooser button[type='submit'] {
    margin: 25px 0;
  }
}
@media (max-width: 768px) {
  .form-chooser button[type='submit'] {
    margin: 15px auto;
    float: none;
  }
}
.form-chooser button[type='submit']:hover {
  background: #f8a94e;
  color: #fff;
}
.form-chooser button[type='submit']:active {
  line-height: 62px;
}
.university-card {
  display: block;
  width: 100%;
  margin-top: 40px;
}
.university-card:after {
  content: '';
  display: block;
  clear: both;
}
@media (max-width: 1170px) {
  .university-card {
    background: #fff;
  }
}
@media (max-width: 480px) {
  .university-card {
    border: 1px solid #efedf3;
    border-top: none;
  }
}
.university-image {
  width: 370px;
  height: 230px;
  float: left;
  position: relative;
  overflow: hidden;
}
.university-image:after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
}
.university-image img {
  display: block;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
}
.university-image h3 {
  display: block;
  width: 100%;
  padding: 10px 30px;
  font-size: 20px;
  line-height: 1.4;
  font-weight: 700;
  color: #fff;
  font-style: normal;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}
.university-image .city {
  display: inline-block;
  height: 36px;
  position: absolute;
  left: 30px;
  bottom: 25px;
  z-index: 1;
  overflow: hidden;
}
.university-image .city:after {
  content: '';
  display: block;
  clear: both;
}
.university-image .city span {
  display: block;
  float: left;
  color: #fff;
  font-size: 16px;
  line-height: 36px;
}
.university-image .city span:first-of-type {
  padding: 0 0 0 15px;
  background: #db8727;
  font-weight: 100;
  position: relative;
  z-index: 1;
}
.university-image .city span:first-of-type:before {
  content: '';
  display: block;
  height: 50px;
  width: 25px;
  background: #db8727;
  position: absolute;
  left: 90%;
  top: -7px;
  transform: rotate(20deg);
  z-index: -1;
}
.university-image .city span:last-of-type {
  padding: 0 15px 0 30px;
  background: #f8a94e;
  font-weight: 700;
}
@media (max-width: 1170px) {
  .university-image {
    float: none;
  }
}
@media (max-width: 400px) {
  .university-image {
    width: 100%;
    overflow: hidden;
  }
  .university-image img {
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
  }
  .university-image h3 {
    padding: 10px 20px;
  }
  .university-image .city {
    left: 20px;
  }
}
.university-specialities {
  display: block;
  width: calc(100% - 370px);
  min-height: 230px;
  background: #fff;
  float: left;
  padding: 20px 30px 55px 30px;
  position: relative;
}
.university-specialities .title {
  color: #493e52;
  font-weight: 300;
  font-size: 20px;
  margin-bottom: 30px;
}
@media (max-width: 480px) {
  .university-specialities .title {
    padding: 0 15px;
  }
}
.university-specialities .see-all {
  display: block;
  width: 100%;
  height: 40px;
  text-align: center;
  font-style: italic;
  font-size: 14px;
  color: #8f8498;
  text-transform: uppercase;
  border-top: 1px solid #efedf3;
  border-bottom: 1px solid #efedf3;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  left: 0;
}
.university-specialities .see-all:hover {
  background: #efedf3;
}
.university-specialities .see-all span {
  font-size: inherit;
  color: inherit;
  line-height: 40px;
}
.university-specialities .see-all i {
  font-size: 24px;
  color: inherit;
  position: relative;
  top: 3px;
  margin-left: 15px;
}
.university-specialities .see-all .all,
.university-specialities .see-all .fa-angle-up {
  display: none;
}
.university-specialities .see-all.active .all,
.university-specialities .see-all.active .fa-angle-up {
  display: inline-block;
}
.university-specialities .see-all.active .some,
.university-specialities .see-all.active .fa-angle-down {
  display: none;
}
@media (max-width: 1170px) {
  .university-specialities {
    width: 100%;
    float: none;
    padding: 20px 15px 55px 15px;
  }
}
@media (max-width: 480px) {
  .university-specialities {
    padding: 20px 0 55px 0;
  }
}
.speciality {
  display: block;
  margin: 15px 0;
}
.speciality:after {
  content: '';
  display: block;
  clear: both;
}
.speciality.hidden {
  display: none;
}
.speciality > div {
  display: block;
  float: left;
  text-align: center;
}
.speciality .speciality-name {
  width: 55%;
  text-align: left;
  padding-left: 40px;
  position: relative;
  font-size: 17px;
  font-weight: 700;
  color: #493e52;
}
.speciality .speciality-name:before {
  content: '';
  display: block;
  width: 10px;
  height: 11px;
  background: url(../images/decor-speciality.png) no-repeat;
  position: absolute;
  margin: auto;
  left: 15px;
  top: 0;
  bottom: 0;
}
.speciality .speciality-duration {
  width: 10%;
  font-size: 17px;
  color: #493e52;
}
.speciality .speciality-cost {
  width: 17.5%;
  font-size: 17px;
  color: #493e52;
}
.speciality .speciality-cost-rouble {
  width: 17.5%;
  color: #a59eab;
}
@media (max-width: 1170px) {
  .speciality .speciality-name {
    padding-left: 20px;
  }
  .speciality .speciality-name:before {
    left: 0;
  }
}
@media (max-width: 768px) {
  .speciality .speciality-name {
    width: 100%;
    margin-bottom: 10px;
  }
  .speciality > div {
    text-align: left;
  }
  .speciality .speciality-duration {
    width: 20%;
    padding-left: 20px;
  }
  .speciality .speciality-cost {
    width: 40%;
  }
  .speciality .speciality-cost-rouble {
    width: 40%;
  }
}
@media (max-width: 480px) {
  .speciality {
    padding: 0 15px;
  }
  .speciality:first-of-type {
    border-bottom: 1px solid #efedf3;
  }
  .speciality .speciality-name,
  .speciality .speciality-duration,
  .speciality .speciality-cost,
  .speciality .speciality-cost-rouble {
    width: 100%;
    float: none;
    padding-left: 20px;
    margin: 10px 0;
  }
}
/***********************************************************************************************************************
******** services-list
***********************************************************************************************************************/
.inner-page {
  background: #f8f8fd;
}
.services-list {
  padding: 75px 0 20px;
  margin: 0;
  list-style: none;
  width: 100%;
  max-width: 100%;
}
.services-list h1 {
  text-transform: uppercase;
  margin: 0 0 75px;
  line-height: 1;
}
.service-item {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin: 35px 0;
}
.service-item .image-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  position: relative;
  overflow: hidden;
  padding: 40px 40px 40px 60px;
}
@media (max-width: 600px) {
  .service-item .image-wrap {
    padding: 30px;
  }
}
.service-item .image-wrap:before {
  content: '';
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(102, 44, 144, 0.3);
  position: absolute;
  z-index: 8;
}
.service-item .image-wrap:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-right: 20px solid #fff;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 9;
}
.service-item .image-wrap img {
  display: block;
  width: auto;
  min-width: 100%;
  max-width: none;
  height: auto;
  min-height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
}
@media (max-width: 600px) {
  .service-item .image-wrap img {
    width: 100%;
  }
}
.service-item .image-wrap h2 {
  position: relative;
  z-index: 10;
  margin: 0;
  font-size: 50px;
  color: #fff;
  line-height: 1.3;
}
@media (max-width: 600px) {
  .service-item .image-wrap h2 {
    font-size: 32px;
  }
}
.service-item .service-info {
  width: 50%;
  position: relative;
  padding: 20px 50px 70px;
  background: #fff;
}
@media (max-width: 480px) {
  .service-item .service-info {
    padding: 20px 25px 70px;
  }
}
.service-item .service-info p {
  color: #493e52;
  margin: 20px 0;
  font-weight: 300;
}
.service-item .service-info a {
  color: #e81616;
  text-decoration: underline;
  font-weight: 300;
}
.service-item .service-info a:hover {
  text-decoration: none;
}
.service-item .service-info .show-more {
  display: block;
  width: 150px;
  height: 35px;
  line-height: 33px;
  text-align: center;
  border-radius: 20px;
  border: 1px solid #f2f2f7;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #8f8498;
  position: absolute;
  left: 50px;
  bottom: 35px;
  font-style: italic;
}
.service-item .service-info .show-more:hover {
  text-decoration: none;
  border: 1px solid #8f8498;
}
.service-item .service-info .show-more:active {
  line-height: 36px;
}
.service-item .service-info .show-more .fa {
  font-size: larger;
  color: inherit;
  margin-left: 5px;
}
.service-item .service-info ul {
  margin: 20px 0;
}
.service-item .service-info ul li {
  padding: 0 0 0 45px;
}
.service-item .service-info ul li:before {
  display: none;
}
.service-item .service-info ul li .icon {
  display: block;
  width: 10px;
  height: 11px;
  position: absolute;
  left: 15px;
  top: 6px;
}
.service-item .service-info ul li .icon img {
  float: none;
  margin: 0;
}
@media (max-width: 980px) {
  .service-item {
    flex-wrap: wrap;
  }
  .service-item .image-wrap,
  .service-item .service-info {
    width: 100%;
  }
  .service-item .image-wrap:after {
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: none;
    border-bottom: 20px solid #fff;
    top: auto;
    left: 0;
    position: absolute;
    z-index: 9;
  }
}
/***********************************************************************************************************************
******** why-ccn-top
***********************************************************************************************************************/
.why-ccn-page h1,
.why-ccn-page h4 {
  text-transform: uppercase;
}
.why-ccn-page {
  background: #f8f8fd;
}
.why-ccn-page .why-we-list {
  float: left;
}
.why-ccn-top {
  background: url(../images/why-ccn-background.png) no-repeat center top;
}
.why-ccn-top h1 {
  margin: 30px 0;
}
.why-ccn-info {
  width: calc(100% - 430px);
  float: left;
}
.ccn-mission {
  width: 369px;
  background: #ffffff;
  padding: 35px;
  float: left;
  margin: 170px 0 0 0;
}
.ccn-mission .title {
  color: #363636;
  font-size: 29px;
  font-weight: 100;
  margin: 0 0 10px 0;
}
.ccn-mission .text {
  color: #363636;
  font-size: 17px;
  font-weight: 300;
  line-height: 27px;
}
.ccn-news {
  width: 370px;
  height: 584px;
  background: #fff url(../images/background-2.png) no-repeat center;
  background-size: 100%;
  padding: 40px 45px;
  float: right;
}
.ccn-news-inner {
  width: 100%;
  max-height: 100%;
  overflow: hidden;
}
.ccn-news h2 {
  font-size: 1.294117647058824em;
  color: #a598ae;
  text-transform: uppercase;
  font-weight: 100;
  font-style: normal;
  line-height: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ccn-news .news-item {
  margin-top: 25px;
}
.ccn-news .news-item .title {
  color: #ceaed8;
  font-weight: 100;
  text-decoration: underline;
  margin-bottom: 5px;
  line-height: 1.2;
  overflow: hidden;
  height: 40px;
}
.ccn-news .news-item .title span {
  color: #493e52;
  font-weight: 600;
  line-height: 1;
}
.ccn-news .news-item .icon-item {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 15px;
  height: 15px;
  padding-left: 1px;
  margin-right: 7px;
  border: 1px solid #662c90;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  position: relative;
}
.ccn-news .news-item .fa {
  display: inline-block;
  line-height: 0;
  color: #662c90;
  font-size: 12px;
  position: absolute;
  margin: auto;
  top: 7px;
  right: 0;
  left: 0;
}
.ccn-news .news-item a {
  color: #662c90;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 300;
}
.ccn-news .news-item a:hover {
  text-decoration: underline;
}
.why-we-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 30px 0 0 0;
  width: 100%;
}
.why-we-list a {
  display: block;
  width: 369px;
  overflow: hidden;
  position: relative;
}
.why-we-list a:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(102, 78, 119, 0.5);
  z-index: 1;
}
.why-we-list a img {
  margin: 0;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
}
.why-we-list a span {
  position: absolute;
  top: 50px;
  right: 40px;
  left: 40px;
  z-index: 2;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}
.why-we-list a span:after {
  content: '';
  display: block;
  width: 74px;
  height: 8px;
  background: url(../images/image-arrow.png) no-repeat;
  margin: 10px 0 0 0;
}
